:root{
    --rojo: #E50914;
    --fondo: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    margin: auto;
}

.contenedor a{
    font-size: 150%;
}

header{
    padding: 1.5% 0;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--rojo);
    font-size: 500%;
}

header nav a{
    color: #9b9a9a;
    text-decoration: none;
    margin-left: 20px;
}

header nav a:hover,
header nav a.active{
    color: hsl(0, 0%, 90%)
}

/* ----	-----	----- Pelicula Principal	-----	-----*/
.P-Principal{
    font-size: 16px;
    min-height: 40.62em;
    color:  rgb(201, 201, 204);
    background:linear-gradient(rgb(0,0,0, .50) 0%, rgb(0,0, 0, .50) 100% ), url(../../img/Series/Better-Call-Saul.jpg);
    background-position: center 5emm ;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;;
}

.P-Principal .contenedor{
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.P-Principal .titulo{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.P-Principal .Descripcion{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.P-Principal .boton {
    background: rgb(0,0,0, .50);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    margin-right: 1em;
    color: rgb(172, 172, 172);
    cursor: pointer;
    transition: .4s ease all;
    font-size: 1.12em;
}

.P-Principal .boton i{
    margin-right: 1.4em;
}

/* ----	-----	----- Contenedor Principal de series y arrow Recomendads	-----	-----*/
.series-recomendadas . content-principal {
    display: flex;
    align-items: center;
    position: relative;
}

.series-recomendadas .content-principal .flecha-iz,
.series-recomendadas .content-principal .flecha-dr{
    position: absolute;
    border: none;
    background: rgb(0,0,0, .3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: rgb(172, 172, 172);
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.series-recomendadas .content-principal .flecha-iz{
    left: 0;
}

.series-recomendadas .content-principal .flecha-dr{
    right: 0;
}


.series-recomendadas .content-principal .flecha-iz:hover,
.series-recomendadas .content-principal .flecha-dr:hover{
    background: rgb(0,0,0, .7);
}

/* ----	-----	----- Contenedor de titulo	-----	-----*/
.contenedor-titulo{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-titulo h3{
    color: white;
    font-size: 40px;
}

.contenedor-titulo .content-principal{
    background: white;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: noen;
    margin-right: 2px;
}


/* ----	-----	----- Carrusel Serie Recomendadas	-----	-----*/
.series-recomendadas .content-carrusel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.series-recomendadas .content-carrusel .carousel{
    display: flex;
    flex-wrap: nowrap;
}

.series-recomendadas .content-carrusel .carousel .pelicula{
    width: 100%;
    transition: .3s ease all;
    box-shadow: 6px 6px 7px rgb(0,0,0, .50);
}

.series-recomendadas .content-carrusel .carousel .pelicula img{
   width: 100%;
   vertical-align: top;
   
}




/* ----	-----	----- Media Query	-----	-----*/
@media screen and (max-width: 900px){
    header .logo{
        margin-bottom: 10px;
        font-size: 30px;
    }

    header .contenedor{
        flex-direction: column;
        text-align: center;
    }

    .P-Principal{
        font-size: 14px;
    }

    .content-principal .Descripcion{
        max-width: 100%;
    }

    .series-recomendadas .content-carrusel{
        overflow: visible;
    }

    .series-recomendadas .content-carrusel .carousel{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}