:root {
  --hat: rgba(204, 202, 202, 0.993);
  --bla: rgb(0, 5, 5, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../../img/Fondo_Formulario_registro.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #6699;
}

form {
  width: 30%;
  margin: 8% auto;
  border-radius: 20px;
  border: solid 5px var(--bla);
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: logo;
  animation-duration: 3s;
  display: block;
}

form p,label{
  font-size: 2rem;
  color: var(--hat);
}

#logo {
  width: 15%;
  animation-name: logo;
  animation-duration: 2s;
}
.Inputs {
  margin-top: 3%;
}

.Inputs input {
  width: 90%;
  background-color: var(--bla);
  border: none;
  border-radius: 3px;
  padding: 12px;
  margin-left: 10px;
}

form 
input,
::placeholder {
  color: var(--hat);
  font-size: 1.25rem;
}

form ,
input,
label {
  padding-left: 10px;
}

form legend,
p,
img {
  text-align: center;
}

.Botones {
  margin: 3%;
  margin-left: 20%;
}


.Inputs-btn , .text-btn {
  color: var(--hat);
  padding: 4% 4%;
  border: none;
  background-color: transparent;
  font-size: 1.13rem;
  display: inline;
  position: relative;
  left: 15%;
}

.Inputs-btn:hover {
  background-color: var(--bla);
  cursor: pointer;
  border-radius: 10px;
}

.text-btn a {
 background-color: none;
 font-size: 1.2rem;
 text-decoration: underline;
 color:rgb(4, 143, 145);;
 
}

.text-btn:hover{
  color:rgb(4, 143, 145);
  cursor: pointer;
}
/* ----	-----	----- Keyframes	-----	-----*/
@keyframes logo {
  0%{
    background: none;
    width: 50%;
    margin-top: 5%;
  }

  100%{
    opacity: 1;
  }
}
@keyframes formu{
  0%{
    display: none;
    opacity: 0;
  } 
} 
/* ----	-----	----- Media Queri	-----	-----*/
@media screen and (min-width: 360px) and (max-width: 760px) {
  body {
    background-image: url(../../img/Fondo_Formulario_registro.jpg);
  }

  form {
    margin: 30% auto;
    width: 80%;
    font-size: 20px;
  }
  .Botones {
    margin-left: 58%;
  }
}
@media screen and (min-width: 760px) and (max-width: 1024px) {
  body {
    background-image: url(../../img/Fondo_Formulario_registro.jpg);
  }

  form {
    margin: 32% auto;
    width: 80%;
  }
  .Botones {
    margin-left: 75%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1736px) {
  body {
    background-image: url(../../img/Fondo_Formulario_registro.jpg);
  }

  form {
    margin: 40% auto;
    width: 70%;
    font-size: 1.25em;
  }
}
@media screen and (max-width: 1736px) {
  body {
    background-image: url(../../img/Fondo_Formulario_registro.jpg);
  }

  form {
    margin: 25% auto;
  }
  .Botones {
    margin-left: 65%;
  }
}
